
<div class="text-white"
     style="min-height: 60vh; padding-top: 100px; background-image: url('/assets/img/footer-bg.png'); background-size: cover; background-repeat: no-repeat;">

    <div class="text-center" style="height: 50px">
        <img class="h-100" src="/assets/img/logo.svg" alt="Logo de WikiPlayer">
    </div>

    <p class="text-center mt-5 fw-bold">
        WikiPlayer est hébergée par la Wikimedia Foundation, de même que les projets suivants, coordonnés sur le site Méta-Wiki
    </p>

    <div class="text-center mt-5">
        <img src="assets/img/wiki-group.png" alt="Logo des autres services de wikimedia">
    </div>

    <div class="d-flex justify-content-center mt-5">
        <a class="text-white text-decoration-none mx-5" href="#">Contact</a>
        <a class="text-white text-decoration-none mx-5" href="#">Déclaration sur les témoins (cookies)</a>
        <a class="text-white text-decoration-none mx-5" href="#">Politique de confidentialité</a>
        <a class="text-white text-decoration-none mx-5" href="#">À propos de Wikiplayer</a>
    </div>
</div>
