<nav class="mx-5 px-5 d-flex flex-row justify-content-between" style="height: 70px;">
    <div class="d-flex justify-content-center">
        <img src="/assets/img/logo-colored.svg" alt="Logo de WikiPlayer">
    </div>
    <div class="px-5 d-flex flex-column justify-content-center">
        <a class="text-decoration-none text-dark text-center d-flex flex-column justify-content-center"
           href="{{ path('login_index') }}">
            <img style="height: 40px;" src="/assets/img/user-profil.svg" alt="Icone de l'utilisateur"/>
            Mon compte
        </a>
    </div>
</nav>
